<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Site <a href="https://getgrav.org">Grav</a> fait avec <i class="fa fa-heart-o pulse "></i> par Jpeg @ <a href="https://www.agrimetrie.com">Agrimétrie Inc.</a>.</p>
    </section>
</section>
